
.container1{
    font-family: 'Libre Baskerville';
    width: 90%;
    height: 500px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 3px;
    display: -webkit-flex;
    display: flex;
    background-color: #eceae7f5;
}

.nav{
    width: 20%;
    height: 450px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 20px 10px;
    padding: 10px 20px;
    background-color: white;
}
.content1{
    width: 75%;
    height: 450px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 20px 10px;
    padding: 10px 20px;
}
p{
    font-size: 20px;
    line-height: 25px;
}

.nav a{
    text-decoration: none;
    color: #000;
    line-height: 40px;
}
